.region{
    width: auto;
    padding: 10px;
    margin: 10px;
    float: left;
    border: 3px double gray;
    border-radius: 10px;
    text-align: center;
    font-size: 28px;
}
#control{
    background-color: lightblue;
    width: auto;
    float: left;
    padding: 3px;
    border: 1px dashed gray;

}
ul {
    padding: 0px;

}
li {
    list-style-type: none;
    text-align: center;
}
#element1{
    width: 20px;
    padding: 10px;
    border: 1px solid blue;
    background-color: lightblue;
}
#element2{
    width: 25px;
    padding: 10px;
    border: 1px solid orange;
    background-color: yellow;
}
#element3{
    width: 30px;
    padding: 10px;
    border: 1px solid red;
    background-color: lightcoral;
}
#element4{
    width: 35px;
    padding: 10px;
    border: 1px solid black;
    background-color: lightgrey;
}
#element5{
    width: 40px;
    padding: 10px;
    border: 1px solid green;
    background-color: lightgreen;
}