.region{
    width: auto;
    padding: 10px;
    margin: 10px;
    float: left;
    border: 3px double gray;
    border-radius: 10px;
    text-align: center;
    font-size: 28px;
}
#control{
    background-color: lightblue;
    width: auto;
    float: left;
    padding: 3px;
    border: 1px dashed gray;

}
ul {
    padding: 0px;

}
li {
    list-style-type: none;
    text-align: center;
}
#1{
    width: 10px;
    border: 1px solid blue;
}
#2{
    width: 15px;
    border: 1px solid yellow;
}
#3{
    width: 20px;
    border: 1px solid red;
}
#4{
    width: 25px;
    border: 1px solid black;
}
#5{
    width: 20px;
    border: 1px solid green;
}